src/main/resources/wsdl/appuser.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://appuser.ws.biblioback.openclassrooms.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://appuser.ws.biblioback.openclassrooms.com" targetNamespace="http://appuser.ws.biblioback.openclassrooms.com">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://appuser.ws.biblioback.openclassrooms.com">

    <xs:element name="appUserValidityCheckRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="appUserValidityCheckResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:appUser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="appUserAddRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="isAdmin" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="appUserAddResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="confirmation" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="appUserGetAllRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="appUserGetAllResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="getAllAppUsers" type="tns:appUser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="appUser">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="isAdmin" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="appUserAddRequest">
    <wsdl:part element="tns:appUserAddRequest" name="appUserAddRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="appUserValidityCheckResponse">
    <wsdl:part element="tns:appUserValidityCheckResponse" name="appUserValidityCheckResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="appUserGetAllRequest">
    <wsdl:part element="tns:appUserGetAllRequest" name="appUserGetAllRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="appUserAddResponse">
    <wsdl:part element="tns:appUserAddResponse" name="appUserAddResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="appUserGetAllResponse">
    <wsdl:part element="tns:appUserGetAllResponse" name="appUserGetAllResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="appUserValidityCheckRequest">
    <wsdl:part element="tns:appUserValidityCheckRequest" name="appUserValidityCheckRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AppUsersPort">
    <wsdl:operation name="appUserAdd">
      <wsdl:input message="tns:appUserAddRequest" name="appUserAddRequest">
    </wsdl:input>
      <wsdl:output message="tns:appUserAddResponse" name="appUserAddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="appUserValidityCheck">
      <wsdl:input message="tns:appUserValidityCheckRequest" name="appUserValidityCheckRequest">
    </wsdl:input>
      <wsdl:output message="tns:appUserValidityCheckResponse" name="appUserValidityCheckResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="appUserGetAll">
      <wsdl:input message="tns:appUserGetAllRequest" name="appUserGetAllRequest">
    </wsdl:input>
      <wsdl:output message="tns:appUserGetAllResponse" name="appUserGetAllResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppUsersPortSoap11" type="tns:AppUsersPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="appUserAdd">
      <soap:operation soapAction=""/>
      <wsdl:input name="appUserAddRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="appUserAddResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="appUserValidityCheck">
      <soap:operation soapAction=""/>
      <wsdl:input name="appUserValidityCheckRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="appUserValidityCheckResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="appUserGetAll">
      <soap:operation soapAction=""/>
      <wsdl:input name="appUserGetAllRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="appUserGetAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppUsersPortService">
    <wsdl:port binding="tns:AppUsersPortSoap11" name="AppUsersPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>