src/main/resources/wsdl/book.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://book.ws.biblioback.openclassrooms.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://book.ws.biblioback.openclassrooms.com" targetNamespace="http://book.ws.biblioback.openclassrooms.com">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://book.ws.biblioback.openclassrooms.com">

    <xs:element name="bookGetRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="bookGetResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="bookAddRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="authorFirstName" type="xs:string"/>
                <xs:element name="authorName" type="xs:string"/>
                <xs:element name="availableNumber" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="bookAddResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="confirmation" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="bookGetAllRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="bookGetAllResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="bookGetAll" type="tns:book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="book">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="authorName" type="xs:string"/>
            <xs:element name="authorFirstName" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="bookAddResponse">
    <wsdl:part element="tns:bookAddResponse" name="bookAddResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookGetAllRequest">
    <wsdl:part element="tns:bookGetAllRequest" name="bookGetAllRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookGetResponse">
    <wsdl:part element="tns:bookGetResponse" name="bookGetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookAddRequest">
    <wsdl:part element="tns:bookAddRequest" name="bookAddRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookGetRequest">
    <wsdl:part element="tns:bookGetRequest" name="bookGetRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookGetAllResponse">
    <wsdl:part element="tns:bookGetAllResponse" name="bookGetAllResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BooksPort">
    <wsdl:operation name="bookAdd">
      <wsdl:input message="tns:bookAddRequest" name="bookAddRequest">
    </wsdl:input>
      <wsdl:output message="tns:bookAddResponse" name="bookAddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookGetAll">
      <wsdl:input message="tns:bookGetAllRequest" name="bookGetAllRequest">
    </wsdl:input>
      <wsdl:output message="tns:bookGetAllResponse" name="bookGetAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookGet">
      <wsdl:input message="tns:bookGetRequest" name="bookGetRequest">
    </wsdl:input>
      <wsdl:output message="tns:bookGetResponse" name="bookGetResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BooksPortSoap11" type="tns:BooksPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bookAdd">
      <soap:operation soapAction=""/>
      <wsdl:input name="bookAddRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bookAddResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookGetAll">
      <soap:operation soapAction=""/>
      <wsdl:input name="bookGetAllRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bookGetAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookGet">
      <soap:operation soapAction=""/>
      <wsdl:input name="bookGetRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bookGetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BooksPortService">
    <wsdl:port binding="tns:BooksPortSoap11" name="BooksPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>